<section class="row">
  <a href="/products" class="column">
    <article class="phx-hero container">
      <h2>Products</h2>
    </article>
  </a>
  <a href="/suppliers" class="column">
    <article class="phx-hero container">
      <h2>Suppliers</h2>
    </article>
  </a>
</section>
